body {
  background-image: url("../images/waves.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Londrina Solid";
  font-weight: 900;
  font-size: 700%;
  color: white;
}

h2 {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 300%;
  color: #52057b;
}

h3 {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 300%;
  color: white;
  padding-bottom: 5%;
  margin: auto;
}
ul {
  text-align: center;
}

li {
  color: white;
  font-family: "Ubuntu";
  font-weight: lighter;
  font-size: 20px;
  padding: 20px;
}

.pa-white {
  color: white;
  width: 60%;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.8rem;
  font-family: "Ubuntu"
}

.nav-link {
  font-size: 1.3rem;
  text-align: left;
  font-family: "Ubuntu"
}

.izq {
  text-align: left;
  padding: 5%;
}

.der {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 10%;
  padding-top: 10%;
  padding-left: 10%;
}

.circular {
  width: 300px;
  height: 300px;
  margin-bottom: 4%;
}

.gris {
  background-color: #121212;
  padding: 5%;
  text-align: center;
}

.white-link {
  color: #52057b;
  font-family: "Ubuntu";
  font-size: 1rem;
  margin: 1% auto;
}

.white-link:hover {
  color: white;
}

.works {
  padding: 5%;
  text-align: center;
}

.proyect {
  background-color: #121212;
  padding: 10px;
  margin: 10px;
  border-radius: 1%;
}
.githubbtn{
  width: 200px;
  height: 40px;
  text-align: center;
}

.desc {
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

#Skills{
  margin-bottom: 200px;
}
.skills{
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 5%;
}

.skill{
  padding: 2%;
}

#Contact{
  text-align: center;
}

.contact-btn{
  margin: 2%;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: #52057B;
  font-family: "Ubuntu";
  font-size: 3.5rem;
  padding: 20px;
  background-color: #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  border: solid #52057B 6px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-btn:hover{
  background-color: #52057B;
  color: white;
}

.link{
  width: 60px;
  height: 60px;
  color: white;
  font-size: 2.8rem;
  text-align: center;
  padding: 0;
  margin: 0.5%;
}
.link:hover{
  color: #52057B;
}

.footer {
  margin-top: 200px;
  background-color: #121212;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 990px) {
  .izq{
    text-align: center;
    margin-top: 70px;
  }
  .der{
    text-align: center;
    padding: 0;
  }
  h2{
    font-size: 150%;
  }
  .imagen{
    height: 70%;
    width: 70%;
  }
}
